
<!-- INICIO FORMULARIO -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 bg-danger text-center rounded p-1">
            <h6 class="text-white ">Dados Pessoais</h6>
        </div>

        <div class="col-md-12 mt-3">

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Nome" required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Sobrenome" required>
                </div>
                <select class="form-control mb-3">
                    <option selected> Petrópolis</option>
                    <option selected> Friburgo</option>
                    <option selected> Teresópolis</option>
                </select>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="inputEmail4" placeholder="Email" required="required" >
                    </div>


                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPassword4" name="password" [(ngModel)]="user.password" placeholder="Senha" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPassword5" name="passwordComfirm" [(ngModel)]="user.passwordComfirm" placeholder="Confime sua senha" required>
                    </div>
                </div>
                <button type="submit" (click)="saveLogin()" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>