<!-- INICIO FORMULARIO -->

<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <form class="col-md-6 ">

            <div class="form-group row">
                <div class="col-sm-10">
                    <input [(ngModel)]='usuario' type="email" class="form-control" placeholder="Email" name="usuario" required="required">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input [(ngModel)]='senha' type="password" class="form-control" placeholder="Password" name="senha">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" (click)="doLogin()">Entrar</button>
                    <p>Ainda não é usuario ? <a href="/cadastro">Cadastre-se</a> </p>

                </div>
            </div>

        </form>
        <div class="col-3"></div>
    </div>
</div>