<!-- INICIO WORKSPACE -->
<div class="container mt-5">

    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
        <!-- TAB EMPREENDEDOR -->
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#empreendedor" role="tab" aria-controls="home"
                aria-selected="true">
                <h4>Empreendedor</h4>
            </a>
        </li>
        <!-- TAB PROFISSIONAL -->
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">
                <h4>Profissional</h4>
            </a>
        </li>
    </ul>


    <!-- as TABS abrem conteudos diferentes -->
    <div class="tab-content" id="myTabContent">


        <!-- CONTEUDO TAB EMPREENDEDOR -->
        <div class="tab-pane fade show active" id="empreendedor" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                            <div class="py-3">
                                <!-- botão Incluir Projeto (à diretita)-->
                                <button class="btn btn-success float-right" *ngIf="!incluindo" (click)="incluindo= !incluindo">Novo
                                    Projeto</button>

                                <!-- adicionando mais um Projeto -->
                                <div class="bg-light card border-dark mb-4" *ngIf="incluindo">

                                    <h4 class="p-4">Incluir Novo Projeto</h4>

                                    <!-- formulário -->
                                    <div class="row p-3">

                                        <!-- Titulo do Novo Projeto -->
                                        <div class="form-group col-md-6">
                                            <h6 class="text-primary">Titulo do Projeto:</h6>
                                            <select  class="form-control" id="exampleFormControlSelect1" >
                                                <option *ngFor="let proj of projetos" [ngValue]="novoProj.titulo">{{ proj.titulo }}</option>
                                                <!-- <option>Página Web</option>
                                                <option>Banco de Dados</option>
                                                <option>Inicio de Startup</option> -->
                                            </select>
                                        </div>

                                        <!-- Segmento do Novo projeto -->
                                        <div class="form-group col-md-6">
                                            <h6 class="text-primary">Segmento:</h6>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option *ngFor="let proj of projetos" [ngValue]="novoProj.segmento">{{ proj.segmento }}</option>
                                                <!-- <option>1 - Baixo</option>
                                                <option>2 - Médiio</option>
                                                <option>3 - Alto</option>
                                                <option>4 - Expert</option> -->
                                            </select>
                                        </div>

                                        <!-- Detalhes do Movo Projeto -->
                                        <div class="form-group col-md-12">
                                            <h6 class="text-primary">Detalhes dó projeto:</h6>
                                            <textarea class="form-control" [(ngModel)]="novoProj.detalhes" id="exampleFormControlTextarea1" rows="3" ></textarea>
                                        </div>

                                        <div class="col-12">
                                            <!-- Botão Salvar inclusão de projeto-->
                                            <button type="submit" class="btn btn-primary float-right mr-3 mt-3">Salvar
                                                Projeto</button>
                                            <!-- botão de cancelar inclusão de projeto -->
                                            <button class="btn btn-danger float-right mr-3 mt-3" (click)="incluindo= !incluindo">Cancelar</button>
                                        </div>

                                    </div>
                                </div>

                                <!-- Lista de projetos existentes -->
                                <div class="p-4">
                                    <div class="p3">
                                        <h3>Lista de Projetos Ativos</h3>
                                    </div>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small>3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed
                                                diam
                                                eget risus varius blandit.</p>
                                            <small>Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed
                                                diam
                                                eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed
                                                diam
                                                eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <!-- CONTEUDO TAB PROFISSIONAL -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- botão Incluir Projeto (à diretita)-->
            <button class="btn btn-success float-right" *ngIf="!incluindo" (click)="incluindo= !incluindo">Nova Especialização</button>

            <form class="mt-3">

                <div class="bg-light card border-dark mb-4" *ngIf="incluindo">

                    <h4 class="p-4">Incluir especialização</h4>

                    <!-- formulário -->
                    <div class="row p-3">
                        <div class="form-group col-md-6">
                            <h6 class="text-primary">Nivel:</h6>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>0 - Nenhum</option>
                                <option>1 - Baixo</option>
                                <option>2 - Médiio</option>
                                <option>3 - Alto</option>
                                <option>4 - Expert</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <h6 class="text-primary">Nivel:</h6>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>0 - Nenhum</option>
                                <option>1 - Baixo</option>
                                <option>2 - Médiio</option>
                                <option>3 - Alto</option>
                                <option>4 - Expert</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <h6 class="text-primary">Detalhes dó projeto :</h6>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <!-- Botão Salvar inclusão de projeto-->
                            <button type="submit" class="btn btn-primary float-right mr-3 mt-3">Adicionar
                            </button>
                            <!-- botão de cancelar inclusão de projeto -->
                            <button class="btn btn-danger float-right mr-3 mt-3" (click)="incluindo= !incluindo">Cancelar</button>
                        </div>

                    </div>
                </div>

                <div class="p-4">
                    <div class="p3">
                        <h3>Projetos que vc trabalha</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Especializaçao</h5>
                                <small>Descriçao</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed
                                diam
                                eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed
                                diam
                                eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed
                                diam
                                eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
            </form>




        </div>

    </div>