<!-- INICIO WORKSPACE -->

<div class="container mt-5">

    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
        <!-- TAB EMPREENDEDOR -->
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#empreendedor" role="tab" aria-controls="home"
                aria-selected="true">
                <h4>Empreendedor</h4>
            </a>
        </li>
        <!-- TAB PROFISSIONAL -->
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">
                <h4>Profissional</h4>
            </a>
        </li>
    </ul>


    <!-- as TABS abrem conteudos diferentes -->
    <div class="tab-content" id="myTabContent">


        <!-- CONTEUDO TAB EMPREENDEDOR -->
        <div class="tab-pane fade show active" id="empreendedor" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                            <div class="py-3">
                                <!-- botão Incluir Projeto (à diretita)-->
                                <button class="btn btn-success float-right" *ngIf="!incluindo" (click)="incluindo= !incluindo">Novo
                                    Projeto</button>

                                <!-- adicionando mais um Projeto -->
                                <div class="bg-light card border-dark mb-4" *ngIf="incluindo">

                                    <h4 class="p-4">Incluir Novo Projeto</h4>

                                    <!-- formulário -->
                                    <div class="row p-3">
                                        <div class="col-md-12 mt-3">
                                            <h6 class="text-primary">Tipo de projeto: </h6>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>App Mobile</option>
                                                <option>Página Web</option>
                                                <option>Banco de Dados</option>
                                                <option>Inicio de Startup</option>
                                            </select>
                                        </div>

                                        <div class="col-md-12 mt-3">
                                            <h6 class="text-primary">Grau de Conhecimento:</h6>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>0 - Nenhum</option>
                                                <option>1 - Baixo</option>
                                                <option>2 - Médiio</option>
                                                <option>3 - Alto</option>
                                                <option>4 - Expert</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <!-- Botão Salvar inclusão de projeto-->
                                            <button type="submit" class="btn btn-primary float-right mr-3 mt-3">Salvar
                                                Projeto</button>
                                            <!-- botão de cancelar inclusão de projeto -->
                                            <button class="btn btn-danger float-right mr-3 mt-3" (click)="incluindo= !incluindo">Cancelar</button>
                                        </div>

                                    </div>
                                </div>

                                <!-- Lista de projetos existentes -->
                                <div class="p-4">
                                    <div class="p3">
                                        <h3>Lista de Projetos Ativos</h3>
                                    </div>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small>3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed
                                                diam
                                                eget risus varius blandit.</p>
                                            <small>Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed
                                                diam
                                                eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed
                                                diam
                                                eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- 
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
 -->

                        </div>

                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                            <form>

                                <div class="row">

                                    <div class="col-md-12 mt-3">
                                        <h6 class="text-primary">nome da empresa ?</h6>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>programador</option>
                                            <option>web designer</option>
                                            <option>Banco de Dados</option>
                                            <option>Backend</option>
                                            <option>meremenebias</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <h6 class="text-primary">Exigencia ?</h6>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>123</option>
                                            <option>123</option>
                                            <option>Banco de Dados</option>
                                            <option>Backend</option>
                                            <option>meremenebias</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>

                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- CONTEUDO TAB PROFISSIONAL -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>