<!-- MENU DAS PAGINAS -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary" id="mainNav">
    <!-- [ngClass]="{fixed-top: navMenuFixed}" -->
    <div class="container">
        <a class="navbar-brand js-scroll-trigger text-light" href="#page-top"><img src="./assets/img/oie_transparent.png" style="width: 100px;
        height: 50px;">H2H</a>
       
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white" href="#portfolio">Perfis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white" href="#cadastro">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white" href="#contact">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white" href="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>