<div class="homepage-hero-module">
    <div class="video-container">
        <div class="title-container">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>TORNE SEUS PROJETOS REALIDADE</strong>
                </h1>
                <p class="text-faded mb-5">Empreenda ou participe de projetos rápidos</p>
                <hr>
                <div class="col-lg-12  mx-auto">
                    <div class="row ">
                        <div class="col-md-4  mt-5">
                            <a class="btn text-white circulo rounded btn-primary-transparent btn-xl js-scroll-trigger"
                                href="#services">Serviços</a>
                        </div>
                        <div class="col-md-4  mt-5">
                            <a class="btn text-white  circulo rounded btn-primary-transparent btn-xl js-scroll-trigger"
                                href="login">Login</a>
                        </div>
                        <div class="col-md-4  mt-5 mb-5">
                            <a class="btn text-white circulo rounded btn-primary-transparent btn-xl js-scroll-trigger"
                                href="#cadastro">Cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter"></div>
        <video autoplay="" preload="auto" muted="true" loop="" class="fillWidth fadeIn animated">
            <source src="../../assets/img/Workaholic/Workaholic.mp4" type="video/mp4" />Se o seu browse não suporta
            videos,
            recomemdamos que atualise seu navegador.
            <source src="../../assets/img/Workaholic/Workaholic.webm" type="video/webm" />Se o seu browse não suporta
            videos,
            recomemdamos que atualise seu navegador.
        </video>
        <div class="poster hidden">
            <img src="../../assets/img/Workaholic/Workaholic.jpg" alt="">
        </div>
    </div>
</div>

<div>
    <div class="container-fluid px-0">
        <img src="../../assets/img/grafico.jpg" width="100%">
    </div>
</div>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Propostas </h2>
                <hr class="my-3">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                    <h3 class="mb-3">Gere valor</h3>
                    <p class="text-muted mb-0">Crie algo único e que impacte a vida das pessoas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                    <h3 class="mb-3">Comunique-se</h3>
                    <p class="text-muted mb-0">Conheça e envie mensagens para pessoas de seu interesse</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                    <h3 class="mb-3">Crie tecnologia</h3>
                    <p class="text-muted mb-0">Construa a solução tecnológica para o dia-a-dia de sua comunidade</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                    <h3 class="mb-3">Conecte propósitos</h3>
                    <p class="text-muted mb-0">Junte-se à uma rede de empreendedores unidos por um propósito em comum</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../assets/img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="../../assets/img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Danielle Musser <br>
                                Ceo da Polygon Business Solutions
                            </div>
                            <div class="project-name">
                                "foi no serra ntw onde conheci meu sócido e pude transformar meu projeto em realidade"
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../assets/img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="../../assets/img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Caio Vieira <br>
                                Co-fundador da TYPHOON
                            </div>
                            <div class="project-name">
                                "Graças ao H2H pude encontrar um sócio especialista em negocios"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../assets/img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="../../assets/img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Frederico Gomes<br>
                                Idealizador da COGOLI
                            </div>
                            <div class="project-name">
                                "Sempre tive o sonho de trazer a inclusão digital para a serra. Foi no H2H que
                                encontrei pessoas interessadas em torna-los realidade."
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../assets/img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="../../assets/img/portfolio/thumbnails/4.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bruno Coelho <br>
                                Idealizador do Dia do Turista
                            </div>
                            <div class="project-name">
                                "Achei que era impossivel, mas no H2H encontrei pessoas dispostas a organizar o dia do
                                turista em Petropolis, onde nos unimos para criarmos atrações ao publico. "
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../assets/img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="../../assets/img/portfolio/thumbnails/5.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lorena Neves<br>
                                Idealizadora de um santuario de animais
                            </div>
                            <div class="project-name">
                                "Sempre quis cuidar de animais de rua. Foi no H2H que contei minha ideia para as
                                pessoas e me espantei quando recebi algumas propostas para tomar um café com pessoas
                                que amaram minha ideia e queriam ajudar."
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../assets/img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="../../assets/img/portfolio/thumbnails/6.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                João Filgueiras<br>
                                Idealizador da Serra Fashion Week
                            </div>
                            <div class="project-name">
                                "No H2H encontrei pessoas dispostas a participar do projeto e a investir na
                                potencialização da moda serrana"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="cadastro" class="bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Faça o cadastro e comece sua experiencia !</h2>
        <a class="btn btn-light btn-xl sr-button" href="cadastro">Clique
            aqui</a>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Nos dê sujestoes, entre em contado.</h2>
                <hr class="my-4">
                <p class="mb-5"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fab fa-facebook-square fa-3x mb-3 sr-contact-1"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">https://www.facebook.com/codextechono/</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="bg-dark text-white">
    <div class="container text-center">

        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Cadastre-se</a>
    </div>
</section> -->
<!-- 
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Faça o cadastro e comece sua experiencia.</h2>
                <hr class="my-4">
                <p class="mb-5">asdfkjasldfkjçasldkfjçasldkfjçalskdf</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">feedbportfolioack@startbootstrap.com</a>
                </p>
            </div>
        </div>
    </div>
</section> -->